html {
    height: 100%;
    font-family: 'Fredoka One', cursive;
    margin: 0;
    body {
        color: rgb(240, 240, 240);
        background-color: rgb(31, 31, 31);
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        h1 {
            font-size: 50px;
            margin: 50px;
        }
        .container {
            align-items: center;
            background-color: rgb(26, 26, 26);
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
        }
        .board {
            width: 390px;
            height: 390px;
            margin: 20px 0 50px 0;
            background-color: rgb(82, 82, 82);
            padding: 0;
            .board-grid {
                display: grid;
                grid-template: repeat(3, 1fr) / repeat(3, 1fr);
                justify-content: stretch;
                grid-gap: 10px;
                height: 100%;
                width: 100%;
                .cell {
                    font-size: 50px;
                    font-weight: 800;
                    text-align: center;
                    padding: 35px 0;
                    background-color: rgb(26, 26, 26);
                }
            }
        }
    }
}